---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Christine Redfield provides excellent, business-savvy advice for our global operations. We don't hesitate to follow her wherever she goes. Highly recommended.
    image: "//placekitten.com/g/60/60?a=.png"
    name: Joice Carmold
  - message: Chris is a superb trademark lawyer and all around excellent advocate for her clients. I worked with Chris for more than 20 years. She is a true professional, client-oriented, and team-player.
    image: "//fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Redfield IP is one of the best firms we've ever worked with. Being local, they care about the people behind the business and have strong ties to the community.
    image: "//placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p><strong>Strategic international brand counseling</strong> and protection, including the development and management of international trademark portfolios, creative brand enforcement strategies and trademark rights online.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
